extends base

block content 
    include _header
    .container-dashboard
        .text 
            h1 Welcome to your SkillsBuild Dashboard!
            p A place to build your skills
    .line
    