.flex
  aside.my-auto.shadow-gray-400.shadow-md.flex.flex-col.justify-evenly.text-center.mx-auto.items-center.text-white.mt-12.border-2.border-gray-200.rounded-md(class='w-[25%] h-[70vh]')
    a.my-4.py-4.px-4.text-xl.bg-blue-500.duration-200.ease-in-out.w-64.rounded-md(class='hover:text-gray-700 hover:bg-blue-700' href="#") Comments
    a.my-4.py-4.px-4.text-xl.bg-blue-500.duration-200.ease-in-out.w-64.rounded-md(class='hover:text-gray-700 hover:bg-blue-700' href="#") Courses
    a.my-4.py-4.px-4.text-xl.bg-blue-500.duration-200.ease-in-out.w-64.rounded-md(class='hover:text-gray-700 hover:bg-blue-700' href="#") Improvement