.flex
  aside.my-auto.shadow-gray-400.shadow-md.flex.flex-col.justify-evenly.text-center.mx-auto.items-center.text-white.mt-12.border-2.border-gray-200.rounded-md(class='w-[25%] h-[70vh]')
    a.my-4.py-4.px-4.text-xl.bg-blue-500.duration-200.ease-in-out.w-64.rounded-md(class='hover:text-gray-700 hover:bg-blue-700') Comments
    a.my-4.py-4.px-4.text-xl.bg-blue-500.duration-200.ease-in-out.w-64.rounded-md(class='hover:text-gray-700 hover:bg-blue-700') Courses
    a.my-4.py-4.px-4.text-xl.bg-blue-500.duration-200.ease-in-out.w-64.rounded-md(class='hover:text-gray-700 hover:bg-blue-700') Improvement
  main.(class='w-[70%]')
    h1.text-5xl.my-12 Reviews
    .flex.flex-wrap
      // start of revew card
      .flex-col.p-4.shadow-md.shadow-gray-400.rounded-md.border-2.border-gray-200.justify-between.flex(class='w-[32rem] h-[20rem]')
        h2.text-2xl.my-2 Username:{name of the user}
        p.py-4.text-gray-700
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, repellat esse? Ex fugiat eius, corporis, vero amet dicta saepe tempora nulla dignissimos explicabo, qui est! Pariatur consequuntur est quae voluptatem.
        button.my-2.px-4.py-2.bg-blue-500.duration-200.text-white(class='hover:bg-blue-700') Delete
