extends base

block content 
    include headerCourse
    section.section-description
        .left-detail 
            h1.heading-secondary.ma-bt-lg.course-name= course.name
            img(src=`/img/courses/course-1.png`, alt=`${course.name}`)
        .description-box
            - const paragraphs = course.description.split('\n')
            each p in paragraphs
                p.description__text= p
    .button-over
        a.card__footer.ml-4.text-blue-500.border.rev.border-blue-500.font-medium.py-2.px-4.rounded.nav__el-courses(href=`/review/${course.slug}`) Review
        a.card__footer.ml-4.border.revc.border-blue-500.font-medium.py-2.px-4.rounded.nav__el-courses(href="/dashboard") Finish

