extends base


block content
  include navUser.pug
      .content
          .table-title Leaderboard
          br
          table#Leaderboard_table
            tr
              th
              th Username
              th Points
            tr
              td 1.
              td Monica
              td 400
            tr
              td 2.
              td Bob
              td 360
