.main-container
    .sidebar
        a(href="#" class="button hover:bg-blue-700") Add Friend
        br
        br
        a(href="#" class="button hover:bg-blue-700") Leaderboard
        br
        br
        a(href="#" class="button hover:bg-blue-700") Ranking
        br
        br
        a(href="#" class="button hover:bg-blue-700") Friends
        br
        br
        a(href="#" class="button hover:bg-blue-700") Upload Picture
        br
        br
      .content
        .welcome= `Welcome, ${user.name.toUpperCase()} (Level: ${user.rank})`
        p.description Welcome back! It's great to see you again. Explore your profile and make the most of our features.

         