extends base 

block append head
    link(rel="stylesheet" href="/css/login.css")

block content

    main.container
        header
            h1= courses.name
            //-sp= `Hi ${user.name}! Leave your feedback for the XYZ Skill Building Course.`
        br
        section.review-form
            form
                legend.form-legend Rating:
                .rate
                    input(type="radio", id="star5", name="rate", value="5", aria-label="5 stars")
                    label(for="star5") &#9733;
                    input(type="radio", id="star4", name="rate", value="4", aria-label="4 stars")
                    label(for="star4") &#9733;
                    input(type="radio", id="star3", name="rate", value="3", aria-label="3 stars")
                    label(for="star3") &#9733;
                    input(type="radio", id="star2", name="rate", value="2", aria-label="2 stars")
                    label(for="star2") &#9733;
                    input(type="radio", id="star1", name="rate", value="1", aria-label="1 star")
                    label(for="star1") &#9733;
            br
            br
            label(for="review") Review:
            .input-group
                textarea(id="review", name="review", rows="8", cols="96")
            button(type="submit") Submit Review
        